
.para{
    display: flex;
}

.para:nth-child(2) .text-box{
    order: 2;
}

.para:nth-child(2) .img-box{
    order: 1;
}

@media (max-width: 576px) { 
    .para:nth-child(2) .text-box{
        order: 1;
    }
    
    .para:nth-child(2) .img-box{
        order: 2;
    }
}



